<form
  (ngSubmit)="submit()"
  [formGroup]="form"
  class="max-w-xl mx-auto w-full flex flex-col my-4 space-y-4"
>
  <h2 class="text-center mat-headline-5">
    {{ formTitle }}
  </h2>
  <mat-form-field>
    <mat-label>Choose a leave date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="leaveDate" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    @if (form.get('leaveDate')?.hasError('required')) {
      <mat-error>Leave date is a required field</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Reason</mat-label>
    <textarea
      matInput
      placeholder="Why do you need to take a vacation"
      formControlName="reason"
      required
    ></textarea>
    @if (form.get('reason')?.hasError('required')) {
      <mat-error>Reason is a required field</mat-error>
    }
  </mat-form-field>
  <button
    type="submit"
    mat-raised-button
    color="primary"
    [disabled]="form.invalid"
  >
    {{ kind | titlecase }}
  </button>
</form>
